snippet **
	**${1:bold}** ${2}
snippet *
	*${1:emph}* ${2}
# pandoc image
snippet !
	![${1:caption}](${2:url})${3}
# superfilter anchor
snippet a#
	<anchor:#${1:name}>${2}
# superfilter ref
snippet r#
	<ref:#${1:name}>${2}
