snippet par
	<p>${1}</p>
snippet sect
	<section class="slide">
	${1}
	</section>
snippet ul
	<ul>
	  <li>${1}</li>
	  <li>${2}</li>
	  <li>${3}</li>
	</ul>
snippet ol
	<ol>
	  <li>${1}</li>
	  <li>${2}</li>
	  <li>${3}</li>
	</ol>
snippet img
	<img src="${1}" />
snippet h2
	<h2>${1}</h2>
snippet h3
	<h3>${1}</h3>
snippet h4
	<h4>${1}</h4>
